/* Helpers*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.group: after {
content: “”;
display: table;
clear: both;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
margin: 0;
padding: 0;
}

/* style body */

body {
	margin: 0em auto;
	padding: 0 1em;
	max-width: 64em;
	background: darkgray;
}

/* header */
header {
	background-color: orange;
	height: 30vh;
	width: 100%;
	border-radius: 1em;
}

/* nav */
nav {
	text-align: center;
}

nav a {
	background-color: cornflowerblue;
	width: 15%;
	display: inline-block;
	list-style-type: none;
	border-radius: 1em;
}

.logo > a {
	text-decoration: none;
}
