/* Helpers*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.group: after {
content: “”;
display: table;
clear: both;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
margin: 0;
padding: 0;
}

/* style body */

body {
	margin: 0em auto;
	padding: 0 1em;
	max-width: 64em;
	background: darkgray;
}

/* header */
header {
	background-color: orange;
	width: 100%;
	border-radius: 1em;
}
header .logo {
	text-align: center;
}

header nav li {
	display: inline;
}

/* nav */
nav {
	text-align: center;
}

header nav a {
	background-color: cornflowerblue;
	display: inline-block;
	margin: 0.1em;
	padding: 0.4em;
	border: solid black;
	text-decoration: none;
}

li {
	list-style-type: none;
	margin: 0.2em;
}

.logo > a {
	text-decoration: none;
}

@@media screen and (min-width: 768px){
	header {
		display: inline-block;
	}
	.logo {
		float: left;
	}
	nav {
		float: right;
	}
}
