/* Helpers*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.group: after {
content: “”;
display: table;
clear: both;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
margin: 0;
padding: 0;
}

body {
	margin: 0em auto;
	max-width: 100%;
}

/* header */
header {
	background-color: #DCDBD9;
	width: 100%;
}
header .logo {
	text-align: center;
}
header a {
	color: #0d0d0d;
}



/* nav */
nav {
	text-align: center;
}

header nav a {
	display: inline-block;
	margin: 0.1em;
	padding: 0.4em;
	text-decoration: none;
	font-family: fantasy;
}

header nav li {
	display: inline;
}

header nav {

}

li {
	list-style-type: none;
	margin: 0.2em;
}

.logo > a {
	text-decoration: none;
	font-family: sans-serif;
}

.logo {
	margin-bottom: -0.5em;

}

/*banner*/
banner {
	background-image: url(http://41.media.tumblr.com/tumblr_lsxbh6gkMl1qj6i52o1_500.jpg);
	background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
	height: 15em;
  display: block;
}

.banner-text-align {
	text-align: center;
}

.banner-text {
	color: white;
  font-size: xx-large;
  padding-top: 3em;
}

.banner-nav {
	background-color: orange;
  font-size: small;
  font-family: cursive;
  color: azure;
  display: flex;
}

span {
	display: flex;
}

.banner-nav h2 {
	padding-right: 1em;
}

/*Blog posts*/
.blog-post {
	text-align: center;
}

.blog1 {
	padding: 2em;
}

.blog2 {
	padding: 2em;
}

.blog3 {
	padding: 2em;
}

/* Footer */
.main-footer {
	background-color: cadetblue;
	width: 100%;
	text-align: center;
}

.footer-nav ul {
	display: inline-flex;
	padding: 2em;
}

.footer-menu ul {
	padding-right: 4em;
	display: inline-flex;
}

.footer-menu {
	margin-left: 6%;
	padding-right: 6%;
}

.footer-menu a {
	text-decoration: none;
	color: white;
	padding: 1em;
}


/* instagram icon */

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-48 { width: 48px; height: 48px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-48.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-48 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png); background-size: 60px 178px; } }

/*media queries*/

@media screen and (min-width: 768px){
	header {
		display: table;
	}
	.logo {
		float: left;
	}
	nav {
		float: right;
		margin-top: 3.5em;
	}
	.footer-menu > ul {
		padding: 1em;
	}
	.main-footer {
		display: inline-block;
	}
	.footer-nav {
		float: left;
		margin: -1em;
	}
	.footer-menu {
		float: right;
		display: inline-flex;
		padding-top: 1.5em;
		padding-right: 0.5em;
	}
}
