/* Helpers*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.group: after {
content: “”;
display: table;
clear: both;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
margin: 0;
padding: 0;
}

body {
	margin: 0em auto;
	max-width: 100%;
}

/* header */
header {
	background-color: #DCDBD9;
	width: 100%;
}
header .logo {
	text-align: center;
}

header nav li {
	display: inline;
}

/* nav */
nav {
	text-align: center;
}

header nav a {
	display: inline-block;
	margin: 0.1em;
	padding: 0.4em;
	text-decoration: none;
	font-family: fantasy;
}

li {
	list-style-type: none;
	margin: 0.2em;
}

.logo > a {
	text-decoration: none;
	font-family: sans-serif;
}

/*banner*/
banner {
	background-image: url(http://41.media.tumblr.com/tumblr_lsxbh6gkMl1qj6i52o1_500.jpg);
	background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
	height: 15em;
  display: block;
}

.banner-text-align {
	text-align: center;
}

.banner-text {
	color: white;
  font-size: xx-large;
  padding-top: 3em;
}

.banner-nav {
	background-color: orange;
  font-size: small;
  font-family: cursive;
  color: azure;
  display: flex;
}

.banner-nav h2 {
	padding-right: 1em;
}

.blog-post {
	text-align: center;
}

.blog1 {
	padding: 2em;
}

.blog2 {
	padding: 2em;
}

.blog3 {
	padding: 2em;
}
/*media queries*/

@media screen and (min-width: 768px){
	header {
		display: table;
	}
	.logo {
		float: left;
	}
	nav {
		float: right;
	}
}
